<!DOCTYPE html>
<html lang="en">
<head>
    <title>Siw Prodotti</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initials-scale=1.0">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/provider.css">
    <link rel="icon" href="/images/carrello.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto Condensed" rel="stylesheet">
</head>
<body>
<header></header>
<nav>
    <img src="/images/ominoConCarrello3.png">
    <h2 class="logo">Siw Prodotti</h2>
    <ul>
        <li><a href="/" class="sub">Home</a></li>
        <li><a href="/products" class="sub">Products</a></li>
        <li><a href="/providers" class="sub">Providers</a></li>
    </ul>
    <div id="lo">
        <div th:if="${userDetails}">
            <b th:text="${userDetails.username}" class="username"></b>
            <button type="button"><a href="/logout" class="log">Logout</a></button>
        </div>
        <div th:unless="${userDetails}">
            <button type="button"><a href="/login" class="log">Login</a></button>
        </div>
    </div>
</nav>
<footer></footer>
<div th:if="${provider}" class="content">
    <div>
        <div class="card">
            <img th:src="@{'/display/image/' + ${provider.logo.id}}">
            <!--<img th:src="@{'data:image/*;base64,'+${club.profilePicture.base64Image}}">-->
        </div>
        <div class="provider-content">
            <h1 th:text="${provider.name}">Provider name</h1>
            <p th:text="${'Address: ' + provider.address}">Provider Address</p>
            <p th:text="${'Email: ' + provider.email}">Provider Email</p>
        </div>
    </div>
    <div class="provider-product-content">

        <div class="starredproducts-content">
            <h1>Starred Products</h1>
            <div class="products">
                <ul th:each="product : ${starredProducts}">
                    <div class="cards">
                        <a th:href="@{'/products' + '/' + ${product.id}}">
                            <!--<img th:src="@{'data:image/*;base64,'+${product.image.base64Image}}">-->
                            <img th:src="@{'/display/image/' + ${product.foto.id}}">
                            <div class="product-info">
                                <h4 th:text="${product.name + ',' + product.price}">.</h4>
                            </div>
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div th:unless="${provider}">
    Non Esiste
</div>
</body>
</html>